@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-black text-white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}